header h2{
    font-size: 18pt;
    margin-left: 5%;
  }

  header ul{
    position: absolute;
    display: none;
    left: 70%;
    list-style: none;
}

.imagem{
    border: 1px solid red;
    height: 300px;
    width: 90%;
   text-align: center;
}
.imagem img{
    width: 109%;
    margin-top: -3%;
   
}

.texto{
    border: 1px solid orange;
    color: white;
    width: 100%;
    height: 370px;
    position: absolute;
    top: 53%;
    margin: auto auto;
}
#titulo{
    position: absolute;
    top: 12%;
    font-size:23pt;
    color: black;
  }

  #sub-titulo{
    display: ;
    color: black ;
    margin-top: 45%;
    font-size: 16.5pt;
}
.botao{
    display: none;
    position: absolute;
    top: 63%;
    margin-left: 5%;
    margin-top: 2%;
    width: 40%;
}
footer{
    display:none;
    position: absolute;
    bottom: 2%;
    width: 99.9%;
    height: 60px;
    text-align: center;
    
}